body {
  margin: 0;
  background: linear-gradient(90deg, #5a594c,#888778 );
  background-attachment: fixed; /* opcionális, szép fix háttér */
}

/* landing page */
    .landing {
      height: 90vh;
      display: flex;
      align-items: center;
      color: #e1e2e1;
      margin-top: 0px !important;
    }

    .landing img {
      max-width: 100%;
      box-shadow: 0 5px 20px rgba(0,0,0,0.3);
      transition: transform 0.3s ease;
      box-shadow: 0px 0px 30px rgba(5, 5, 5, 0.705) !important;
    }

    .landing img:hover{
        transform: scale(1.1); 
    }
    

    section {
      padding: 60px 0;
  }


.hero-img {
  max-width: 100%;
  box-shadow: 0px 0px 30px rgba(5, 5, 5, 0.705) !important;
  transition: transform 0.3s ease;
}

/* Hover */
.hero-img:hover {
  transform: scaleY(1.3);
  transform: scaleX(1.1);
}



/* landing page effekt */
.fade-slide-left, .fade-slide-right {
  opacity: 0;
  transform: translateX(40px);
  transition: all 1s ease;
}

.fade-slide-left {
  transform: translateX(-40px);
}

.fade-in-active {
  opacity: 1 !important;
  transform: translateX(0) !important;
}




/* 767px alatt ÁLLÓ (portré) kép */
@media (max-width: 767px) {
  .hero-img {
    content: url("./img/IMG_3042\ szórólapra.jpg"); /* <-- Állókép ide */
  }
}

/* 768px felett vissza a fekvő képre */
@media (min-width: 768px) {
  .hero-img {
    content: url("./img/DSC_0691.JPG"); /* <-- Eredeti fekvő kép */
  }
}

@media (max-width: 767px) {
  .hero-img {
    content: url("./img/IMG_3042\ szórólapra.jpg");
    max-height: 50vh;    /* <<< magasság korlátozása */
    width: auto;
    object-fit: contain;  /* ne vágja le a képet */
  }
}

.cím {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #f5f5f5;
  margin-bottom: 50px;
}

.alcím {
  font-size: 2.3rem;
  font-weight: 600;
  color: #e8e8e8;
  margin-bottom: 10px;
}

.alalcím {
  font-size: 1.6rem;
  font-weight: 400;
  color: #d6d6d6;
  margin-bottom: 10px;
}

/* Mobilbarát szövegméretek */
@media (max-width: 767px) {
  .cím {
    font-size: 2.2rem;
  }

  .alcím {
    font-size: 1.3rem;
  }

  .alalcím {
    font-size: 1.1rem;
  }
}


/* footer */
.custom-footer {
  background: rgba(0, 0, 0, 0.4);   /* áttetsző sötét */
  backdrop-filter: blur(6px);       /* modern elmosás */
  color: #eaeaea;
  padding: 20px 0;
  margin-top: 60px;
}

.footer-title {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 5px;
}

.footer-text {
  margin: 0;
  font-size: 1.2rem;
  color: #d0d0d0;
  font-weight: 400;
}

.szamlaszam{
  font-size: 1.5rem;
}

.footer-link {
  color: #fff;
  text-decoration: underline;
  transition: opacity 0.3s ease;
}

.footer-link:hover {
  opacity: 0.7;
}

/* Mobilra finomhangolva */
@media (max-width: 767px) {
  .footer-title {
    font-size: 1.1rem;
  }
  .footer-text {
    font-size: 0.9rem;
  }
}
